body {
    font-family: Arial, sans-serif;

    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    margin: 0;
  }
.navbarr {
	display: flex;
	width: 100vw;

  }
.brand{
	padding-left: 10px;
}
nav{
	border-radius: 5px; 
}
